<ng-container *ngIf="type == 'grid'">
  <div [class]="styles.gridClass" [@fadeInOut] aria-hidden="true">
    <mat-card *ngFor="let item of generateSkeleton(this.count)">
      <mat-card-content>
        <ngx-skeleton-loader animation="progress-dark"
          [theme]="(theme | async) === 'dark' ? stylesDark.title : styles.title">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader animation="progress-dark"
          [theme]="(theme | async) === 'dark' ? stylesDark.paragraph : styles.paragraph">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader animation="progress-dark"
          [theme]="(theme | async) === 'dark' ? stylesDark.paragraph : styles.paragraph">
        </ngx-skeleton-loader>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="type == 'list'">
  <mat-card class="mb-1" *ngFor="let item of generateSkeleton(this.count)" [@fadeInOut] aria-hidden="true">
    <mat-card-content class="-mb-4">
      <div *ngFor="let row of generateSkeleton(this.rowsPerItem)" >
        <ngx-skeleton-loader animation="progress-dark"
          [theme]="(theme | async) === 'dark' ? stylesDark.paragraph : styles.paragraph">
        </ngx-skeleton-loader>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-container *ngIf="type == 'audit'">
  <mat-card [@fadeInOut] aria-hidden="true">
    <mat-card-content>
      <div class="grid md:grid-cols-2 gap-4 my-8">
        <div>
          <ngx-skeleton-loader animation="progress-dark"
            [theme]="(theme | async) === 'dark' ? stylesDark.image : styles.image">
          </ngx-skeleton-loader>
        </div>
        <div class="p-4 flex flex-col justify-end">
          <div *ngFor="let row of generateSkeleton(this.rowsPerItem)">
            <ngx-skeleton-loader animation="progress-dark"
              [theme]="(theme | async) === 'dark' ? stylesDark.paragraph : styles.paragraph">
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <ngx-skeleton-loader animation="progress-dark"
      [theme]="(theme | async) === 'dark' ? stylesDark.paragraph : styles.paragraph">
    </ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</ng-container>
