

<form [formGroup]="form" (submit)="handleSubmit()">
  <div class="px-4 pt-8 text-center md:text-start">
    <h1>Start Audit</h1>
  </div>

  <div class="flex flex-col items-center md:flex-row gap-4 p-4">
    <mat-form-field appearance="outline" class="md:flex-1" subscriptSizing="dynamic">
      <mat-label for="url">URL</mat-label>
      <input matInput formControlName="url" id="url"/>
      <mat-error *ngIf="form.get('url')?.hasError('required')">
        URL is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label for="strategy">Device</mat-label>
      <mat-select formControlName="strategy" id="strategy">
        <mat-option [value]="strategyOptions.mobile">Mobile</mat-option>
        <mat-option [value]="strategyOptions.desktop">Desktop</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-fab
      color="primary"
      [disabled]="form.invalid"
      type="submit">
      <mat-icon>rocket</mat-icon>
    </button>
  </div>

</form>
<lhk-loading-switch [loading]="loading">
  <ng-container lhk-loading-on>
    <div class="max-w-2xl mx-auto px-4 pb-4 flex items-center gap-2">
      <mat-icon>speed</mat-icon>
      <strong>Audit Running...</strong>
    </div>
    <div class="max-w-2xl mx-auto pb-8">
      <lhk-skeleton type="audit"/>
    </div>
  </ng-container>
  <ng-container lhk-loading-off>
    <div *ngIf="result">
      <lhk-audit-result [result]="result"/>
      <div class="text-center py-8 block">
        <button
          *ngIf="result"
          mat-fab
          extended
          color="accent"
          (click)="handleSave(result)">
          <mat-icon>save</mat-icon>
          Save Audit
        </button>
      </div>
    </div>
  </ng-container>
</lhk-loading-switch>
