@use '@angular/material' as mat;
@use 'sass:map';
@include mat.core();


$app-primary: mat.define-palette(mat.$light-blue-palette);
$app-accent: mat.define-palette(mat.$light-green-palette);
$app-warn: mat.define-palette(mat.$deep-orange-palette);

$app-theme:(color: (
  primary: $app-primary,
  accent: $app-accent,
  warn: $app-warn,
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(
    $font-family: 'Roboto, sans-serif',
  ),
  density: 0,
);
// Define a dark theme
$dark-theme: mat.define-dark-theme($app-theme);

// Define a light theme
$light-theme: mat.define-light-theme($app-theme);

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  background-color: map.get(mat.$dark-theme-background-palette, background);
  color: map.get(mat.$dark-theme-foreground-palette, text);
}

$app-typography: mat.define-typography-config();
@include mat.typography-hierarchy($app-typography);
