<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content>
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex gap-4 pb-8 justify-center w-full">
    <button
    mat-fab
    extended
    mat-dialog-close
    color="warn"
    type="button">
    <mat-icon>close</mat-icon>
    {{cancelText}}
  </button>
  <button
    mat-fab
    extended
    color="primary"
    [disabled]="disabled"
    (click)="confirmActionHandle()"
    type="button">
    <mat-icon aria-hidden="true">thumb_up</mat-icon>
    {{confirmText}}
  </button>
  </div>
</mat-dialog-actions>
