<mat-divider />
<ng-container *ngIf="audits.length" >
  <div class="max-w-4xl mx-auto mb-8 px-4" *ngIf="audits as audits" >
    <div class="mt-4 text-center">
      <h3>Audits History</h3>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let audit of audits">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{audit.date | date:'short'}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon aria-hidden="true" class="ml-auto">
              <ng-container *ngIf="audit.auditData.type === 'desktop' else mobile">
                computer
              </ng-container>
              <ng-template #mobile>
                phone_android
              </ng-template>
            </mat-icon>
            <button type="button" color="warn" mat-icon-button matTooltip="Delete audit" (click)="handleDelete(audit)" aria-label="Delete audit">
              <mat-icon aria-hidden="true">delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <lhk-audit-result [result]="audit.auditData" />
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>
