<ng-container *ngIf="selectedScheme === themes.dark; else light">
  <button mat-icon-button
          (click)="switchScheme(themes.light)"
          aria-label="Switch to light theme"
          matTooltip="light theme"
          type="button"
          >
    <mat-icon aria-label="Switch to light mode">light_mode</mat-icon>
  </button>
</ng-container>
<ng-template #light>
  <button mat-icon-button
          (click)="switchScheme(themes.dark)"
          aria-label="Switch to dark theme"
          matTooltip="dark theme"
          type="button"
          >
    <mat-icon aria-label="Switch to dark mode">dark_mode</mat-icon>
  </button>
</ng-template>
