<div [class]="classUtils.container">
  <lhk-loading-switch [loading]="siteLoading$">
    <ng-container lhk-loading-on>
      <div [class]="classUtils.container">
          <lhk-skeleton [count]="1" [cols]="1" />
      </div>
    </ng-container>
    <ng-container lhk-loading-off>
      <ng-container *ngIf="site$|async as site">
        <div lhk-sub-header [@fadeInOut]>
          <div lhk-sub-header-info>
            <div class="md:flex">
              <a mat-mini-fab color="accent" class="md:-mt-1.5 md:mr-4 mb-4" [routerLink]="['/dashboard']">
                <mat-icon>arrow_back</mat-icon>
              </a>
              <div>
                <h1>{{site.title}}</h1>
                <div class="mt-12 mb-4 flex items-center gap-2">
                  <mat-icon>travel_explore</mat-icon>
                  <em>{{site.url}}</em>
                </div>

                <p>{{site.description}}</p>
              </div>
            </div>
          </div>
          <div lhk-sub-header-actions class="flex items-center gap-2">
            <button mat-fab extended color="primary" (click)="handleUpdateSite(site)">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-fab color="warn" (click)="handleDeleteSite(site)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </lhk-loading-switch>
</div>
<mat-divider/>
<div class="max-w-2xl mx-auto">
  <lhk-audit [url]="siteUrl$" (onSubmit)="launchAudit($event)" (onSave)="saveAudit($event)" [loading]="loading$ "
    [result]="auditResult" />
</div>

<lhk-loading-switch [loading]="auditLoading$">
  <ng-container lhk-loading-on>
    <div class="max-w-4xl mx-auto px-4">
      <lhk-skeleton [count]="4" type="list" [rowsPerItem]="1" />
    </div>
  </ng-container>
  <ng-container lhk-loading-off>
    <ng-container *ngIf="audits$ | async as audits">
      <lhk-dashboard-audits-list
        [audits]="audits"
        (onDelete)="handleDeleteAudit($event)"
      />
    </ng-container>
  </ng-container>
</lhk-loading-switch>


