<div [class]="classUtils.container">
  <div lhk-sub-header title="Dashboard">
    <div lhk-sub-header-info>
      <h2>Welcome Back</h2>
      <div class="flex gap-2 items-center">
        <mat-icon>face</mat-icon>
        <strong>
          {{(currentUser$ | async).email}}
        </strong>
      </div>
    </div>
    <div lhk-sub-header-actions class="flex gap-2">
      <button mat-fab extended color="accent" (click)="handleCreateSite()">
        <mat-icon>add_circle</mat-icon>
        Create Website
      </button>
    </div>
  </div>
</div>
<mat-divider />
<div [class]="classUtils.container">
  <lhk-loading-switch class="block my-8">
    <ng-container lhk-loading-on>
      <lhk-skeleton [count]="5" [cols]="3">
      </lhk-skeleton >
    </ng-container>
    <ng-container lhk-loading-off>
      <div class="grid md:grid-cols-3 gap-4" *ngIf="sites$ | async as sites" [@fadeInOut]>
        <mat-card *ngFor="let site of sites">
          <mat-card-header>
            <mat-card-title>
              {{site.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="mb-8">
              <p class="text-ellipsis truncate">
                <strong>{{site.url}}</strong>
              </p>
            </div>
            <div mat-chip *ngIf="site.audits.length">
              Audits:
              <strong>{{site.audits.length}}</strong>
            </div>
          </mat-card-content>
          <mat-card-actions class="mt-auto ml-auto">
            <div class="p-2">
              <button [routerLink]="['/dashboard', site.id]" mat-mini-fab color="primary">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </lhk-loading-switch>
</div>
