<div [class]="classUtils.container">
  <div lhk-sub-header title="Dashboard">
    <div lhk-sub-header-info>
      <h2>Welcome Back</h2>
      <div class="flex gap-2 items-center">
        <mat-icon aria-hidden="true">face</mat-icon>
        <strong>
          {{(currentUser$ | async)?.email}}
        </strong>
      </div>
    </div>
    <div lhk-sub-header-actions class="flex gap-2">
      <button mat-fab extended color="accent" (click)="handleCreateSite()">
        <mat-icon aria-hidden="true">add_circle</mat-icon>
        Create Website
      </button>
    </div>
  </div>
</div>
<mat-divider />
<div [class]="classUtils.container">
  <lhk-loading-switch class="block my-8">
    <ng-container lhk-loading-on>
      <lhk-skeleton [count]="5" [cols]="3">
      </lhk-skeleton >
    </ng-container>
    <ng-container lhk-loading-off>
      <div class="grid md:grid-cols-3 gap-4" *ngIf="sites$ | async as sites" [@fadeInOut]>
        <ng-container *ngFor="let site of sites">
          <lhk-dashboard-sites-card
            [site]="site"
            (onClick)="goToDetail($event)"/>
        </ng-container>
      </div>
    </ng-container>
  </lhk-loading-switch>
</div>
